<form method="post" action="{{ path('admin_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Seguro que desea eliminar este Post?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-danger btn-sm">Borrar</button>
</form>
