{% extends 'layout_admin.html.twig' %}

{% block title %}Editar Comentario{% endblock %}

{% block body %}
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel panel-heading">Editar una Categoría:</div>
                <div class="panel-body">
                    <div class="col-md-8 col-md-offset-2">

                        {{ include('admin/comment/_form.html.twig', {'button_label': 'Update'}) }}

                    </div>
                </div>
                <div class="panel-footer">© copyright: Xavier Casas Soria</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}